<%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
<% hidden_field_tag 'inquiries[like]' %>
  <div class="page-header">
    <h1>お問い合わせ</h1>
  </div>
  <% if @inquiry.errors.any? %>

    <div class="alert alert-danger" role="alert">
      <strong><%= @inquiry.errors.count %>件のエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <th>名前<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス<span class="text-danger">（必須）</span></th>
      <td><%= f.email_field :email %></td>
    </tr>
     <tr>
      <th>電話番号<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :phone %></td>
    </tr>
     <tr>
      <th>お問い合わせ種別<span class="text-danger">（必須）</span></th>
      <td><%= f.check_box :service, {}, 'サービスについて', false %> <%= f.label :service, "サービスについて" %>
      <%= f.check_box :recruit, {}, '採用について', false %> <%= f.label :recruit, "採用について" %>
      <%= f.check_box :media, {}, '取材について', false %> <%= f.label :media, "取材について" %>
      </td>

    </tr>




    <tr>
    <tr>
      <th>お問い合わせ内容<span class="text-danger">（必須）</span></th>
      <td><%= f.text_area :message %></td>
    </tr>
  </table>
  <%= f.submit '確認', class: 'btn btn-primary' %>
  <%= link_to 'クリア', inquiry_path %>
<% end %>
